<style>
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

a[href*="wized.com?utm_campaign=badge"] {
    display: none !important;
}

 .w-webflow-badge {
position: fixed !important;
display: None !important;
visibility: hidden !important;}
  }
</style>
